<ion-view title="Platos fuertes">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" ng-click="showAlert(chats[$index].name,chats[$index].face,chats[$index].lastText,chats[$index].detail)">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <ion-option-button class="button-assertive" ng-click="showPopup()">
          Pedir
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
